/*! license */
@import '../../components/hello-world/style';

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

.box {
  @include transform(rotate(0deg));

  border: solid 1px;
}

// 配合Modernizr的addTest API增加设备检测，并把检测结果放在html元素的class属性中
.android {
  .box {
    color: red;
  }
}
.ios {
  .box {
    color: green;
  }
}
