.setBox {
  width: 100%;
  height: 100vh;
  padding-top: 0.88rem;
  background-color: #f7faff;

  .setMain {
    width: 100%;
    height: 100%;
    padding: 0 0.3rem;
    box-sizing: border-box;
    overflow: hidden;

    ul {
      // width: 100%;
      height: auto;
      margin-top: 0.3rem;
      margin-bottom: 0.2rem;
      border-radius: 0.1rem;
      overflow: hidden;

      li {
        width: 100%;
        height: 0.88rem;
        line-height: 0.88rem;
        font-size: 0.28rem;
        color: #000;
        background-color: #fff;

        // border-bottom: 1px solid #eee;
        padding: 0 0.3rem;
        box-sizing: border-box;
        position: relative;

        span {
          position: absolute;
          display: block;
          min-width: 0.15rem;
          min-height: 0.28rem;
          color: #666;
          right: 0.3rem;
          top: 0;
          background: url('/assets/mine/icon_more.png') no-repeat right;
          background-size: 0.15rem 0.28rem;
          padding-right: 0.3rem;
        }
      }
    }
  }
}

.user_main_menu {
  width: 100%;
  height: auto;
  margin-top: 0.36rem;

  & > div > ul {
    width: 100%;
    height: auto;
    border-radius: 0.1rem;
    margin-bottom: 0.26rem;
    box-shadow: 0 0 0.1rem 0.05rem rgba(36, 114, 255, 0.1);

    li {
      width: 100%;
      height: 0.9rem;
      padding: 0 0.24rem 0 0.5rem;
      box-sizing: border-box;
      position: relative;

      img {
        display: block;
        float: left;
        border: none;
        width: 0.42rem;
        height: auto;
        margin-top: 0.24rem;
      }

      p {
        float: left;
        height: 0.9rem;
        padding: 0 0.26rem;
        font: 0.28rem/0.9rem PingFangSC-Regular, sans-serif;
        color: #39404d;
      }

      span {
        float: right;
        display: block;
        width: 0.15rem;
        height: 0.28rem;
        margin-top: 0.31rem;
        background: url('/assets/mine/icon_more_right.png') no-repeat center;
        background-size: 100%;
      }
    }
  }
}

:global {
  .am-switch .checkbox {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  .switch .am-switch .checkbox {
    background: #bac6da !important;
    height: 0.4rem !important;
    width: 0.8rem !important;
    border-radius: 0.2rem !important;
  }

  .switch .am-switch input[type='checkbox']:checked + .checkbox {
    background: #ff734e !important;
  }

  .switch .am-switch .checkbox::after,
  .switch .am-switch .checkbox::before {
    width: 0.4rem !important;
  }

  .switch .am-switch .checkbox::after,
  .switch .am-switch .checkbox::before {
    content: ' ';
    position: absolute;
    left: 0 !important;
    top: 0 !important;
    height: 0.4rem !important;
    border-radius: 0.2rem !important;
    background: #fff !important;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  .switch .am-switch .checkbox::before {
    background: #b8c4d7 !important;
  }
}
