.aboutus {
  width: 100%;
  height: 100vh;
  padding-top: 0.88rem;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  .logo {
    width: 70%;
    display: block;
    margin: 1.27rem auto 0.54rem;
  }

  .yb_logo {
    width: 2.12rem;
    height: 2.12rem;
    margin: 1.27rem auto 0.27rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .sponor_logo {
    width: 60%;
    margin: 0.27rem auto 0.54rem;

    img {
      width: 100%;
      margin: 0 auto;
    }
  }

  .brandsBox {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);

    .brand_logo {
      width: 80%;
      height: auto;
      margin: 0 auto;
      display: block;
    }

    .brand {
      float: left;
      width: 33.333333%;
      transform: scale(0.9);

      .brandImg {
        img {
          width: 100%;
          margin: 0 auto;
        }
      }

      .brandDesc {
        font-size: 0.24rem;
        text-align: center;
      }
    }
  }

  .yb_intro {
    width: 100%;
    height: auto;
    text-align: center;

    .text_color {
      color: rgb(0, 0, 0);
    }

    .text_color_night {
      color: #fff;
    }

    p {
      // font: 0.34rem/0.5rem PingFangSC-Regular, sans-serif blod;
      font-size: 0.3rem;
      //font-weight: blod;
      letter-spacing: 1px;
      line-height: 1.5;
      color: #333;
    }
  }

  .copyNum {
    position: absolute;
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    bottom: 1.38rem;
    font-size: 0.26rem;
    color: #666;
    text-align: center;
  }
}
