// @import "./modal/index.scss";
// @import "./layout/layout.scss";
// @import "./layout/header.scss";
// @import "./layout/content.scss";
// @import "./layout/footer.scss";
// @import "./layout/sider.scss";
// @import "./home.scss";
// 隐藏滚动条
html::-webkit-scrollbar {
  width: 0;
  display: none;
  visibility: hidden;
}

// 隐藏滚动条
html::-webkit-scrollbar:horizontal {
  height: 0;
  display: none;
  visibility: hidden;
}

// 隐藏滚动条
body::-webkit-scrollbar {
  width: 0;
  display: none;
  visibility: hidden;
}

// 隐藏滚动条
body::-webkit-scrollbar:horizontal {
  height: 0;
  display: none;
  visibility: hidden;
}

html,
body {
  touch-action: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  min-height: 100%;
  overflow: hidden; // overflow-y: auto;
  // -webkit-overflow-scrolling: touch;
  // overflow-scrolling: touch;
}

textarea {
  resize: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.html_body_no_overflow {
  overflow: hidden;
  overflow-x: none;
  overflow-y: none;
}

.padding_5 {
  padding: 0.05rem;
}

.padding_10 {
  padding: 0.1rem;
}

.margin_left_5 {
  margin-left: 0.05rem;
}

.margin_left_10 {
  margin-left: 0.1rem;
}

.margin_top_5 {
  margin-top: 0.05rem;
}

.margin_top_10 {
  margin-top: 0.1rem;
}

.margin_top_20 {
  margin-top: 0.2rem;
}

.margin_left_20 {
  margin-left: 0.2rem;
}

.bigHight {
  height: 4.28rem;
}

.smallHight {
  height: 2.04rem;
  overflow: hidden;
}

.position_absolute {
  position: absolute;
}

.right_10 {
  right: 0.1rem;
}

.flex {
  display: flex;
}

.flex_direction_column {
  flex-direction: column;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_align_item_center {
  align-items: center;
}

.position_fixed {
  position: 'fixed';
}

.width_100_percent {
  width: 100%;
}

.height_100_percent {
  width: 100%;
}

.PageLayer {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  left: 0;
  top: 0;
}

.PageLayerIFRAMe {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  display: block;
  -webkit-overflow-scrolling: touch;
}

.refreshAll {
  display: block;
  float: right;
  width: 0.4rem;
  height: 0.4rem;
  margin-left: 0.1rem;
  background: url('/assets/common/icon_refresh.png') no-repeat 50%;
  background-size: 100%;
}

.tutorialIcon {
  position: absolute;
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  top: 0.24rem;
  right: 0;
  background: url('/assets/common/icon_tutorial.png') no-repeat center;
  background-size: 100%;
}

.delets {
  display: block;
  float: right;
  width: 0.4rem;
  height: 0.4rem;
  margin-left: 0.1rem;
  background: url('/assets/common/icon_delete_news.png') no-repeat 50%;
  background-size: 100%;
}

.depositHelp {
  display: block;
  float: right;
  font: 0.28rem/0.4rem PingFangSC-Regular, sans-serif;
}

.app_head {
  width: 100%;
  height: 0.88rem;
  background-color: #00afe2;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  span {
    display: block;
    height: 0.88rem;
    position: absolute;
    left: 0.3rem;
    top: 0;
    font: 0.34rem/0.88rem PingFangSC-Regular, sans-serif;
    color: #fff;
    text-indent: 0.39rem;
    background: url('/assets/common/icon_back.png') no-repeat left center;
    background-size: 0.19rem 0.32rem;
  }

  h3 {
    width: 100%;
    height: 0.88rem;
    font: 0.34rem/0.88rem PingFangSC-Regular, sans-serif;
    text-align: center;
    color: #fff;
  }
}

@keyframes lds_spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes lds_spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.lds_spinner {
  position: relative;
}

.lds_spinner div {
  position: absolute;
  -webkit-animation: lds_spinner linear 1s infinite;
  animation: lds_spinner linear 1s infinite;
  background: #fff;
  width: 0.04rem;
  height: 0.16rem;
  border-radius: 50%;
  -webkit-transform-origin: 0.02rem 0.32rem;
  transform-origin: 0.02rem 0.32rem;
}

.lds_spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.lds_spinner div:nth-child(2) {
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.lds_spinner div:nth-child(3) {
  -webkit-transform: rotate(72deg);
  transform: rotate(72deg);
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.lds_spinner div:nth-child(4) {
  -webkit-transform: rotate(108deg);
  transform: rotate(108deg);
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.lds_spinner div:nth-child(5) {
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.lds_spinner div:nth-child(6) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.lds_spinner div:nth-child(7) {
  -webkit-transform: rotate(216deg);
  transform: rotate(216deg);
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.lds_spinner div:nth-child(8) {
  -webkit-transform: rotate(252deg);
  transform: rotate(252deg);
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.lds_spinner div:nth-child(9) {
  -webkit-transform: rotate(288deg);
  transform: rotate(288deg);
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

.lds_spinner div:nth-child(10) {
  -webkit-transform: rotate(324deg);
  transform: rotate(324deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.lds_spinner {
  position: fixed;
  top: 45%;
  left: 50%;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: -0.4rem;
}

.prompt {
  position: relative;
  text-align: center;
  align-items: center;
  margin-top: 1.1rem;
}

:global {
  /* 登录页面弹窗样式调整 */
  .am-action-sheet .am-action-sheet-content .am-action-sheet-body .am-action-sheet-button-list .am-action-sheet-button-list-item {
    color: #0caff8 !important;
  }

  .am-action-sheet .am-action-sheet-content .am-action-sheet-body .am-action-sheet-button-list .am-action-sheet-cancel-button {
    color: #000 !important;
  }

  /* 客服页面弹窗样式调整 */
  .am-modal-operation .am-modal-content .am-modal-footer .am-modal-button-group-operation .am-modal-button {
    text-align: center;
    padding-left: 0;
  }
  // 绑定银行卡页面 开户地址
  .bindc .am-list-item-middle .am-list-line .am-list-content {
    color: #999 !important;
  }

  .bindc .am-list-item-middle {
    padding-left: 0;
  }

  .am-list-item-middle .am-list-content {
    color: #999;
  }

  .margin_gop {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
}

.user_select {
  user-select: text;
}

// 忘记密码，注册页面
.close {
  position: absolute;
  display: block;
  width: 0.2rem;
  height: 0.34rem;
  right: 0.5rem;
  top: 0.1rem;
  background-size: 100%;
  cursor: pointer;
}
